.team1 > .logo{
    background-image: url(../img/Cerberus.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    height: 100px;
    width: 150px;
}

.team2 > .logo{
    background-image: url(../img/dragon.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    height: 100px;
    width: 150px;
}