
   

   
   
   
   
   
   
   
   
   
   
   
   <body>
    <input id="trigger" type="button" value="Click Here To pop up window"/>
    <div id="match-details-curtain">
        <div id="match-details-container">
            <div id="title">MATCH STATISTICS</div>
            <div id="teams-container">
                <div class="homecomming-team flexbox-items">
                    <div class="homecomming-team logo"></div>
                    <br />
                    <div class="homecomming-team name"></div>
                </div>
                <div class="flexbox-items">
                    <div id="time-of-match"></div>
                    <div id="date-of-match"></div>
                    <br />
                    <div id="vs"><div class="circle"></div><hr id="vs-line"/><div class="circle"></div></div>
                </div>
                <div class="away-team flexbox-items">
                    <div class="away-team logo"></div>
                    <br />
                    <div class="away-team name"></div>
                </div>
            </div>
            <div id="score-container">
                <div class="homecomming-team score"></div>
                <div class="away-team score"></div>
            </div>
            <hr id="bottom-devider" />
            <div id="close-details"></div>
        </div>
    </div>
</body>